{% extends '_base.html' %}

{% from '_card.html' import card %}

{% include '_card.html' %}

{% set title = 'Home' %}

{% block content %}
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h1>Hello World!</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid perspiciatis minus incidunt.</p>
                <a href="./page.html">Let's go visit the Page page</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{ card('Dominion', '8 de Agosto 2021')}}
            {{ card('Star Realms', '15 de Agosto 2021')}}
            {{ card('Alquimistas', '17 de Agosto 2021')}}
        </div>               
    </div>
{% endblock %} 